<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TNPSCExamMgntSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>com.vast.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>exam</servlet-name>
    <servlet-class>com.vast.web.examinerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exam</servlet-name>
    <url-pattern>/group1</url-pattern>
    <url-pattern>/group2</url-pattern>
    <url-pattern>/group2a</url-pattern>
    <url-pattern>/group4</url-pattern>
  </servlet-mapping>
  
  </web-app>
  
